.navbar {
  background: #f8f9fa;
  padding: 1rem 2rem;
  }
  
  .brand {
    font-size: 1.2em;
  }
  
  .brand span {
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .links_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
  }
  
  .links_list li {
    margin-right: 1em;
  }
  
  .links_list li a {
    padding: 0.4em 0.6em;
  }

  .link {
    text-decoration: none;
    color:#333;
    border-radius: 4px;
    padding: 0.5rem;
    transition: all 0.3s;
  }
  .link:hover {
    background: #e9ecef;
  }
  
  .active {
    background-color: #4285f4;
    color: white;
  }
  .exit{
    border: none;
    background-color: none;
    color: #d32f2f;
    cursor: pointer;
    padding: 0.5rem;
    font: inherit;

  }

  .exit:hover{
    text-decoration: underline
  }